{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>PowerfitGym</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div
        class="container d-flex align-items-center justify-content-lg-between"
      >
        <h1 class="logo me-auto me-lg-0">
          <a href="/">POWERFIT GYM<span>.</span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/about">About</a></li>
            <li><a class="nav-link scrollto" href="/services">Services</a></li>
            <li><a class="nav-link scrollto" href="/gallery">Gallery</a></li>
            <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Memberships</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/join">Enroll</a></li>

                <li><a href="#">Workouts</a></li>

                <li><a href="/profile">View Profile</a></li>
              </ul>
            </li>

            {% if not request.user.is_authenticated %}

            <li><a class="nav-link scrollto" href="/signup">Signin</a></li>
            {% else %}
            <li><a class="nav-link scrollto" href="/logout">Logout</a></li>

            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        {% if request.user.is_authenticated %}
        <a href="/welcome" class="get-started-btn scrollto">Welcome</a>
        {% endif %}
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">
        <div
          class="row justify-content-center"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="col-xl-6 col-lg-8">
            <h1>Start Now Stop Never <span>.</span></h1>
            <h2>Join PowerfitGym</h2>
          </div>
        </div>

        <div
          class="row gy-4 mt-5 justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="250"
        >
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line"></i>
              <h3><a href="biceps_triceps">Biceps | Triceps</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line"></i>
              <h3><a href="back-exercises">Back</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-calendar-todo-line"></i>
              <h3><a href="shoulder-exercises">Shoulders</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-paint-brush-line"></i>
              <h3><a href="chest-exercises">Chest</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-database-2-line"></i>
              <h3><a href="leg-exercises">Legs</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Achivements</h2>
            <p>Check our Achivements</p>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href=""> Gym / Fitness Club of the Year</a></h4>
                <p>
                  A flagship award recognizing overall excellence in facilities,
                  member experience, programming, and community reputation.
                  Examples include “Asia’s Best Gym Award” at Asia Awards and
                  the “Big Award – Gym of the Year” in the UK.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Innovation / Best Use of Technology</a></h4>
                <p>
                  Honors gyms that leverage cutting-edge fitness tech,
                  programming, or unique service delivery. Asia’s Fitness/Gym
                  category includes awards like “Fitness Innovator of the Year”
                  and “Best Use of Social Media for Health & Fitness”. The BIG
                  Awards similarly offer an “Innovation Award” for creative
                  approaches.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Best Independent / Standalone Gym</a></h4>
                <p>
                  Acknowledges top-performing non-franchise and boutique gyms.
                  Categories from Asia’s awards include “Best Standalone Gym”
                  and “Independent Gym of the Year”.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4>
                  <a href=""
                    >Community Impact / Active Workplace / Outdoor Gym</a
                  >
                </h4>
                <p>
                  Granted to gyms that deeply engage with and contribute to
                  local communities or environments. Asia’s awards include
                  “Active Workplace of the Year,” “Family Friendly Gym,” and
                  “Outdoor Health & Fitness Event”. The BIG Awards have a
                  “Community Award” and “Outdoor Fitness Centre of the Year”.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-slideshow"></i></div>
                <h4>
                  <a href=""> Best Personal Trainer / Instructor Awards</a>
                </h4>
                <p>
                  Individual recognition for exceptional trainers. Categories
                  across awards include “Personal Trainer of the Year
                  (Gym-Based),” “Fitness Instructor of the Year,” and “Group
                  Exercise Instructor of the Year” .
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-arch"></i></div>
                <h4>
                  <a href="">
                    Best Fitness Gear / Equipment Supplier / Nutrition Brand</a
                  >
                </h4>
                <p>
                  Acknowledges excellence in providing gyms with top fitness
                  equipment, gear, or nutritional support. Asia’s Fitness Awards
                  list “Fitness Gear of the Year,” “Equipment/tools supplier of
                  the Year,” and “Nutrition Brand of the Year”.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-1.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-2.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-3.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-4.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-5.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-6.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-7.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="static/assets/img/clients/client-8.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Clients Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="text-center">
            <h3>Unleash Your Inner Athlete</h3>
            <p>
              Unleashing your inner athlete” is about adopting an athlete’s
              mindset—setting bold goals, embracing discipline, and pushing
              through mental and physical challenges. By visualizing success and
              using positive self-talk, you prime yourself to perform better and
              stay committed.You treat each workout as part of a larger
              journey—chipping away at growth through small, steady wins.It’s
              also about mental resilience—learning to stay focused under stress
              and viewing rest and recovery as key to overall progress .
              Ultimately, it transforms gym sessions into purposeful training
              and empowers you to become your strongest self.
            </p>
            <a class="cta-btn" href="/signup">Call To Action</a>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->
    </main>
    <!-- End #main -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>
  </body>
</html>
